﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container.fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About us</h2>
            <h4>
                Gender&Roles nace como uno de los resultados del programa Technoloshe que realiza Accenture junto con ComunidadIT que busca capacitar chicas en tecnología
            </h4>
        </div>
        <div class="col-sm-4">
            <img src="http://affinitymagazine.us/wp-content/uploads/2017/01/o-FEMINISM-IN-2014-facebook-1000x600.jpg" class="img-responsive">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" id="image">
            <img src="https://www.bellybelly.com.au/bllyblly/wp-content/uploads/2008/03/boy-or-girl.jpg" class="img-responsive">
        </div>
        <div class="col-sm-8">
            <h4> G&R busca concientizar sobre el peso que tiene el sexo y el género sobre los roles que nos imponen y como esto, que esta tan naturalizado, puede generar desigualdades.</h4>
        </div>
    </div>
</div>
 
