﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}


<div id="backgroundindex">
    <div class="jumbotron text-center">
        <h1>Gender & Roles</h1>
        <br />
        <p>G&R is a page where you can learn about gender with a quick test. Do you wanna start?</p>
        <br />
        <p><a href="@Url.Action("Test","Home")" class="btn btn-primary btn-lg">Start test</a></p>
    </div>
</div>





