﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register to continue</h2>
<div class="jumbotron" id="jumbotrontest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="post" action="@Url.Action("DoTest","Home")">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="name">Name</label>
                            <input class="form-control" name="name" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="age">Age</label>
                            <input class="form-control" name="age" id="age" type="number" placeholder="Age" required="required" data-validation-required-message="Please enter your age.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="nationality">Nationality</label>
                            <input class="form-control" name="nationality" id="nationality" placeholder="Nationality" required="required" data-validation-required-message="Please enter you nationality">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label for="occupation">Occupation</label>
                            <input class="form-control" name="Occupation" id="Occupation" placeholder="Occupation" required="required" data-validation-required-message="Please enter your Occupation">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Ir a Preguntas</button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    </div>
<br />
<h2>Start test</h2>
<br />
<div class="jumbotron" id="jumbotrontest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p><p>
<p>The women, half of the world's population, are now a minority in the areas in which decisions of weight and where it is thought our time (parliaments, Governments, science, media, multinational companies, technology, art, philosophy, literature) why you think so?</p>
                <div>
                    <input type="radio" id="1"
                           name="Maternity">
                    <label for="option1">Maternity</label>
                    <br />
                    <input type="radio" id="2"
                           name="option2">
                    <label for="option2">Because they prefer other activities </label>
                    <br />
                    <input type="radio" id="3"
                           name="option3">
                    <label for="option3">By a system in which there is no equality of opportunity</label>
                </div>
                <div>
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </div>
            </div>
  </div>
</div>



