﻿body {
   padding-top: 50px;
}
#backgroundindex{
    background-image:url("Fondo.png");
    margin-right:-100px;
    margin-left:-100px;
}
.jumbotron {
    background: transparent;
    color: black;
    padding-top:150px;
}
.jumbotron h1 {
        font-family: 'Pacifico', cursive;
        font-size:80px;
    }
p {
    font-size:20px;
    font-weight:bold;
}
#pfooter{
    font-size:15px;
    font-weight:bold;
}
h2 {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
}

img{
    padding-top: 40px;
    width:360px;
    height:260px;
}

h4{
    text-align:center;
    padding-top:60px;
}
#jumbotrontest{
    background-color:white;
    padding-top:20px;
}