﻿@model IEnumerable<Proyecto.Models.Question>

@{
    ViewBag.Title = "Cuestionario";
}

<h2>Index</h2>
<form method="post" action="@Url.Action("DoSend","Question")">
    <table class="table">
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Description)

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID) -

                    @Html.DisplayFor(modelItem => item.Description)

                </td>
                @foreach (var answer in item.Answers)
                {
                <tr>
                    <td>
                        <input type="radio" name="@item.ID" value="@answer.ID">
                        <label for="ans"><img src="@Html.DisplayFor(ansItem => answer.Description)"></label>
                    </td>
                </tr>
                }
             </tr>
         }

    </table>
    <div>
        <button type="submit" class="btn btn-primary">Enviar respuestas</button>
    </div>
</form>

